.jumbotron {
    background-repeat: no-repeat;
    background-position: right;
    background-color: red;
    color: gold;
    margin-top: 3%;
}

#newburger {
    color: orange;
}

#leftside {
    background-color: red;
    color: gold;
    text-align: center;
    font-size: 2.6em;
}

#rightside {
    background-color: red;
    color: gold;
    text-align: center;
    font-size: 2.6em;
}

.img {
    size: 3000;
}